/* .bg {
	filter: brightness(0.4);
	position: relative;
	width: 100%;
} */
.container {
    background-color: #CD5C5C;
	color: white;

}

h3 {

	font-size: 50px;
	font-family: 'Varta';
    color: white;
	display: flex;
	justify-content: center;
}
p {

	font-size: 25px;
	font-family: 'Varta';
    color: white;
    padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 50px;
	padding-top: 50px;
	display: flex;
	justify-content: center;
	
}

.Nav {
	font-family: "Varta";
	color: white;
	font-size: 20px;
	display: flex;
	justify-content: space-evenly;
	padding-top: 20px;
	
}
