

.h5 {
    background-color: #cd5c5c;
    padding-bottom: 20px;
    padding-top: 20px;
	font-size: 40px;
	color: white;
	margin-bottom: 30px !important;
	
	display: flex;
	justify-content: center;
}
